<div class="max-w-7xl mx-auto px-4 sm:px-6 p-2">
	<div class="grid grid-cols-3 gap-10 content-center p-9">
		<div class="max-w-md bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl" *ngFor="let note of notes">
			<div class="md:flex max-w-md">
				<div class="p-8 w-full">
					<div class="uppercase tracking-wide text-indigo-500 font-semibold hover:underline max-w-md" >
						{{note.name}}
						<span class="text-align-right float-right">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-indigo-500 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="goToSingleNote(note._id.$oid)">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
							</svg>
						</span>
					</div>
					<div (click)="goToSingleNote(note._id.$oid)"  class="block mt-1 leading-tight font-medium text-black">{{note.finish_date}}</div>
					<ul>
						<li *ngFor="let task of note.tasks">{{ task.details }}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="text-sm p-2">
			<span>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
				</svg>
			</span>
		</div>
	</div>
</div>